<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
    </head>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <div id="header">
         <h1><font color="green">yours view</font></h1>
        <p style="color: black; text-align: center; ">your effort make everything possible</p>
       <p style="color:darkblue; text-align: left; padding:30PX">develop by-ANIL</p>
    </div>
    <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
   <center>
       <h1>KAAM 25</h1><BR><BR>
    
    <button><a href="coronalive.php">covid-19 status In india</a></button>
    </center> 
</body>
</html>
 
    
  